In [20]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [21]:
# Index Levels
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [22]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [23]:
inside

[1, 2, 3, 1, 2, 3]

In [24]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [25]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [26]:
df.loc['G1'].loc[1]

A    1.603790
B   -0.572386
Name: 1, dtype: float64

In [27]:
df

             A         B
G1 1  1.603790 -0.572386
   2 -0.798801  2.068186
   3  1.335071 -1.036179
G2 1 -0.527135  2.255445
   2  0.726748  0.276882
   3 -0.437418 -1.239836

In [30]:
df.index.names=['Groups','Num']

In [31]:
df

                   A         B
Groups Num
G1     1    1.603790 -0.572386
       2   -0.798801  2.068186
       3    1.335071 -1.036179
G2     1   -0.527135  2.255445
       2    0.726748  0.276882
       3   -0.437418 -1.239836

In [32]:
df.loc['G2']

            A         B
Num
1   -0.527135  2.255445
2    0.726748  0.276882
3   -0.437418 -1.239836

In [33]:
df.loc['G2'].loc[2]

A    0.726748
B    0.276882
Name: 2, dtype: float64

In [34]:
df.loc['G2'].loc[2]['B']

0.2768823211188982

In [38]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.603790 -0.572386
G2     -0.527135  2.255445