In [1]:
import pandas as pd

In [3]:
data_info=pd.read_csv('lending_club_info.csv',index_col='LoanStatNew')

In [4]:
print(data_info.loc['revol_util']['Description'])

Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

In [6]:
def feat_info(col_name):
    print(data_info.loc[col_name]['Description'])

In [7]:
feat_info('mort_acc')

Number of mortgage accounts.

In [8]:
# Loading the data and other imports

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#might be nedded depending on your version of Jupyter
%matplotlib inline

In [12]:
df=pd.read_csv('lending_club_loan_two.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             373103 non-null  object
 7   emp_length            377729 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  object
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  title                 394274 non-null  object
 15  dti                   396030 non-null  float64
 16  earliest_cr_line      396030 non-null  object
 17  open_acc              396030 non-null  float64
 18  pub_rec               396030 non-null  float64
 19  revol_bal             396030 non-null  float64
 20  revol_util            395754 non-null  float64
 21  total_acc             396030 non-null  float64
 22  initial_list_status   396030 non-null  object
 23  application_type      396030 non-null  object
 24  mort_acc              358235 non-null  float64
 25  pub_rec_bankruptcies  395495 non-null  float64
 26  address               396030 non-null  object
dtypes: float64(12), object(15)
memory usage: 81.6+ MB

In [14]:
# Project task

In [ ]:
# SECTION 1: EXPLORATORY DATA ANALYSIS
# OVERALL GOAL: Get an understanding for which variables are important, 
# view summary statistics, and visualize the data

In [15]:
# TASK: Since we will be attempting to preding loan_status, create a countplot
# as shownbelow

In [16]:
# TASK: Create a histogram of the loan_amnt column

In [17]:
# TASK: Let's explore correlation between the continuous feature variables. 
# Calculate the correlation between all continuos numeric variables using .corr() method

In [19]:
# TASK: Visualize the using a heatmap.Depending on yourversion of matplotlib, you may need
# to manually adjust the heatmap

In [20]:
# TASK: You should have noticed almost perfect correlation with the 'installment'
# feature. Explore this feature further. Print out their descriptions and perform
# a scatterplot between them. Does this relationship make sense to you?
# Do you think there iss duplicate information here?

In [21]:
# TASK: Create a boxplot showing the relationship between the loan_status and the Loan Amount.

In [22]:
# Calculate the summary statistics forthe loan amount, grouped by the loan_status.

In [23]:
# TASK: Let's explore the Grade and SubGrade columns that LendingClub attributes to the loans.
# What are the unique possible grades and subgrades

In [24]:
# TASK: Create a countplot per grade. Set the hue to the loan_status label.

In [25]:
# TASK: Display a count plot per subgrade. You may need to resize for this
# plot and reorder the x axis. Feel free the edit the color palette. Explore both
# all loans made per subgrade as well being separated based on the loan_status.
# After creating  this plot, go ahead and create a similar plot, but set hue='loan_status'

In [26]:
# TASK: It looks like F and G subgrades do not get paid back that often Isloate those and recreate
# the countplot just for thosesubgrades

In [27]:
# TASK: Create a new column called 'loan_repaid' which will contain a 1 if the loan status
# was 'Fully Paid' and a 0 if it was 'Charged Off'

In [28]:
# CHALLENGE TASK:(Note this is hand, but can be done in one line!) Create a bar plot showing the 
# correlation of the numeric features to the new loan_repaid column

In [ ]:
# SECTION 2: DATA PREPROCESSING

In [ ]:
# SECTION GOALS: Remove of fill any missing data. Remove unnecessary or repetitive features.
# Convert categorical string features to dummy variables

In [32]:
# Missing Data
# Let's explore this missing data columns. We use a variety of factors to decide whether 
# or not they would  be useful, to see if we should keep, discard, or fill in the missing data.

In [33]:
# TASK: Create a Series that display the total count of missing values per column.

In [ ]:
# TASK: Convert this Series to be in term of procentage of the total DataFrame

In [34]:
# TASK: Let's examine emp_title and emp_length to see whether it will be okey to drop them.
# Print out their feature information using the feat_info() function from the top of this notebook.

In [35]:
# TASK: How many unque employment job titles are there?

In [36]:
# TASK: Realistically there are too many unique job titles to try to convert this to a dummy
# variable feature. Let's remove that emp_title column.

In [37]:
# TASK: Create a count plot of the emp_length feature column. 
# Challenge: Sort the order of the values.

In [38]:
# TASK: Plot out the countplot with a hue separating Fully Paid vs Charged Off

In [40]:
# CHALLENGE TASK: This  still does not really inform us if there is a strong  relationship between
# employment length and being charged off, what we want is the percentage of charge offs per category.
# Essentially informing us what percent of people per employment category did not pay back their loan.
# There are a multitude of ways to create this Series. Once you have created it see if visualize it with
# a bar plot. This may be tricky, refer to solutions if you get stuck on creating this Series.

In [41]:
# TASK: Charge off rates are extremely similar across all employemnt lengths. Go ahead
# and drop emp_length column.

In [42]:
# TASK: Revisit the DataFrame to see what feature columns still have missing data.

In [43]:
# TASK: Review the title column vs the purpose column. It this repeated information?

In [44]:
df['title'].head(10)

0                   Vacation
1         Debt consolidation
2    Credit card refinancing
3    Credit card refinancing
4      Credit Card Refinance
5         Debt consolidation
6           Home improvement
7       No More Credit Cards
8         Debt consolidation
9         Debt Consolidation
Name: title, dtype: object

In [45]:
# TASK: The title column is simply a string subcategory/description of the purpose column.
# Go ahead and drop the title column.

In [46]:
# NOTE: This is one of the hardest parts of the project! Refer to the solutions video
# if you need guidance, feel free to fill or drop the missing values of the mort_acc
# however ypu see fit! Here we are going with a very specific approach.

In [47]:
# TASK: Find out what the mort_acc feature represents

In [48]:
# TASK Create a value_counts of the mort_acc column.

In [49]:
# TASK: There are many ways we could deal with this missing data. We could attempt to built
# a simple model to fill it in, such as a linear model, we could just fill it based on the mean
# of the other columns, or you could even bin the columns into categoris and then set NaN as 
# its own category. There is no 100% correct approach! Let's review the other columns to see
# which most highly correlates to mort_acc

In [50]:
# TASK: Looks kile the total_acc feature correlates with the mort_acc, this makes sense!
# Let's try this fillna() approach, We will group the dataframe by the total_acc and 
# calculate the mean value for the mort_acc per total_acc entry. To get the result below:

In [ ]:
# CHALLENGE TASK: Let's fill in the missing mort_acc values based on their total_acc.
# If the mort_acc is missing, then we will fill in that missing value with the mean 
# value corresponding to its total_acc value from the Series we created above. This
# involves using an .apply() method with two columns. Check out the link below
# for more info, or review the solutions video/notebook.

In [51]:
# TASK: revol_util and the pub_rec_bankruptcies have missing data points, but they account
# for less 0.5% of the total data. Go ahead and remove the rowsthat are missing those 
# values in those columns with dropna()

In [52]:
# Categorical Variablesand Dummy Variables
# We are done working with the missing data! Now we just need to deal with the string values
# due to the categorical columns.

In [53]:
# TASK: List all the columns that are currently non-numeric

In [54]:
# TASK: Convert the term feature into either a 36 or 60 integer numeric data type using
# .apply() or map()

In [55]:
# grade feature

In [56]:
# TASK: We already know grade is part of sub_grade, so just 
# drop the grade feature.

In [57]:
# TASK: Convert the subgrade into dummy variables. Then concatenate these new columns
# to the or dataframe. Remember to drop the original subgrade column and to add
# drop_first=True to your get_dummies call.

In [59]:
# Verification_status, application_type, initial_list_status,purpose
# TASK: Convert thesecolumns:['verification_status','application_type','initial_list_status',
# 'purpose'] dummy variables and concatenate themwiththe original dataframe. Remember to set
# drop_first=True and to drop the original columns.

In [60]:
# home_ownership

In [61]:
# TASK: Review the value_counts for the home_ownership column.

In [62]:
# TASK: Convert these dummy variables, but replace NONE and ANY with OTHER,so that we
# end up just 4 categories, MORTGAGE, RENT, OWN, OTHER. Then concatenate them with 
# the original dataframe. Remember to set drop_first=True and to drop the original columns.

In [63]:
# Address 
# TASK: Let's feature engineer a zip code column from the address in the data set. 
# Create a column called 'zip_code' that extracts the zip code from the adress column.

In [64]:
# TASK: Now make this zip_code column into dummy variables using pandas. Concatenate the
# result and drop the original zip_code column along with dropping the address column.

In [65]:
# issue_d

In [66]:
# TASK: This would be data leakage, we would  not know beforehand
# whether or not a loan would be issued when using model, so in theory
# we would not have an issue_data, drop this feature.

In [67]:
# earliest_cr_line

In [68]:
# TASK: This appears to be a historical time stamp feature. Extract the year fromt
# his feature using a fucntion, then convert it to a numeric feature.Set this new 
# data to a feature column called 'earliest_cr_year'. Then drop the 
# earliest_cr_line feature.

In [69]:
# Train Test Split

In [70]:
# TASK: Import train_test_split from sklearn

In [71]:
# TASK: drop the load_status column we created earlier, since its a duplicate of the 
# loan_repaid column.We will use the loan_repaid columns since its already in 
# 0s and 1s

In [73]:
# TASK: Set X and y variables to the .values of the features and label.

In [76]:
# OPTIONAL
# GRABBING A SAMPLE FOR TRAINING TIME
# OPTIONAL: Use.sample() to grab a sample of the 490k+ entries to save time
# on training. Highly recommended fro lower RAM computers or if you are not
# using GPU.

In [77]:
print(len(df))

396030

In [78]:
# TASK: Perform a train/test split with test_size=0.2 and a random_state of 101.

In [80]:
# Normalizing the Data
# TASK: Usea MInMaxScalerto normalize the featuredata X_train and X_test.Recall we do not
# want data  leakge from the testset so we only fit on the X_train data.

In [81]:
# CREATING THE MODEL

In [82]:
# TASK: Run the cell below to import nesessary Keras functions.

In [87]:
import tensorflow as tf
import tensorflow.keras.models import Sequential
import tensorflow.keras.layers import Dense,Dropout

SyntaxError: invalid syntax (3730608276.py, line 2)

In [88]:
# TASK: Build a sequential modelto will be trained onthe data. You have unlimited
# options here, but here is what the solution uses: a model that goes 78->39->19->1
# output neuron. OPTIONAL: Explore adding Dropout layers 1 2

In [89]:
# 
model=Sequential()

# Choose whatever number of layers/neurons you want.

# https://stats.stackexchange.com/questions/181/how-to-choose-the-number-of-hidden-layers-and-nodes-in-a-feedforward-neural-netw

# Remember to compile()

NameError: name 'Sequential' is not defined

In [90]:
# TASK: Fit the model to the training data for at least 25 epochs. Also add in the validation
# data for later plotting. Optional: add in a batch_size of 256.

In [ ]:
# TASK: OPTIONAL: Save your model.

In [91]:
# SECTION 3: EVALUATING MODEL PERFORMANCE

In [92]:
# TASK: Plot out the validation loss versus the training loss.

In [93]:
# TASK: Create predictionsfrom the X_test setand display aclassificationreport and 
# confusion matrix for the X_test set.

In [94]:
# TASK: Given the customer below, would you offerthis person a loan?

In [95]:
import random
random.seed(101)
random_ind=random.randint(0,len(df))

new_customer=df.drop('loan_repaid',axis=1).iloc[random_ind]
new_customer

KeyError: "['loan_repaid'] not found in axis"

In [96]:
# TASK: Now check, did thisperson actually end up payingback their loan?

In [97]:
# GREAT JOB!